<input type="file" name="file1" id="file1" accept="application/json"
       (change)="selectFile($event)">
<input type="file" name="file2" id="file2" accept="application/json"
       (change)="selectFile($event)">
<button type="submit" (click)="click()">submit</button>

<!--<div class="menu">-->
<!--  <div class="frame">-->
<!--    <pre [innerHTML]="responseEntity.configFile1"></pre>-->
<!--  </div>-->
<!--  <div class="frame">-->
<!--    <pre [innerHTML]="highlightKeyWord(responseEntity.configFile2, responseEntity.metadata[0])"></pre>-->
<!--  </div>-->
<!--</div>-->
<!--<p [innerHTML]="highlightKeyWord('hello world', 'world')"></p>-->


<pre [innerHTML]="responseEntity.configFile2"></pre>
