<input type="file" name="file1" id="file1" accept="application/json"
       (change)="selectFile($event)">
<input type="file" name="file2" id="file2" accept="application/json"
       (change)="selectFile($event)">
<button type="submit" (click)="click()">submit</button>

<div class="menu">
  <div class="frame">
    <pre *ngFor="let val of responseEntity.configFile1.toString().split('\n');"></pre>
  </div>
  <div class="frame">
    <pre *ngFor="let val of responseEntity.configFile2.toString().split('\n');">{{val}}</pre>
  </div>
</div>
<p [innerHTML]="highlightKeyWord('hello world', 'world')"></p>
